@import "~leaflet/dist/leaflet.css";
/*@import '~@geoman-io/leaflet-geoman-free';*/
@import "~@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "./components/mapReport/Leaflet.Coordinates-0.1.3.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 85%;
}

body {
  background-color: #373E43;
}

p {
  margin: 0;
  padding: 0;
}

.top_drawer::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(22, 22, 22, 0.295);
}

nav a {
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

h1, h2, h3, h4, h3, h5, h6 {
  margin: 0;
  padding: 0;
}

/* .td-td td:nth-child(even){
background-color: azure!important;
}
.td-td td:nth-child(odd){
background-color: rgb(126, 150, 150)!important;
} */

.drawer-scrollbar::-webkit-scrollbar {
  display: none !important;
}

Button:focus {
  border: none;
  outline: none;
}

Button:active {
  border: none;
  outline: none;
}

/* .Top-bar-div::-webkit-scrollbar-thumb{
background-color: black!important;
} */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #b6b4b4;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 5px;
  background: #2e2d2d;
}

.Toastify__toast-theme--light {
  background-color: #141414d2 !important;
  color: rgb(255, 255, 255) !important;
}

.MuiTabs-indicator {
  height: 3px !important;
  background-color: white !important;
}

/* .MuiTab-wrapper{
  border-left: 1px solid white;
}
MuiTab-wrapper:last-child{
  border-left: 1px solid white!important;
}
.MuiTabs-flexContainer:last-child{
  border-left: 1px solid white!important;
} */

.MuiTab-wrapper {
  /* border-left: 1px solid white; */
  border-right: 1px solid white;
  flex-direction: row !important;
  justify-content: space-evenly !important;
  width: 150px !important;
}

.top-drawer-btn {
  width: 160px !important;
  display: flex;
  /* padding: 5px; */
  justify-content: space-evenly;
  height: 32px;
  background-color: #151D20;
  min-width: 160px;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  border-bottom: 3px solid transparent;
  border-right: 1px solid white;
}

.top-drawer-btn:focus {
  background-color: #373E43;
  border-right: 1px solid white;
}

.top-drawer-btn-1 {
  /* border-bottom: 2px solid white; */
  background-color: #373E43;
  width: 160px !important;
  min-width: 160px;
  border-right: 1px solid white;
}

.top-drawer-btn-active {
  border-bottom: 3px solid rgb(187, 40, 40);
}

.top-drawer-btn:hover {
  background-color: #373E43;
  border-bottom: 3px solid rgb(187, 40, 40);
}

.MuiTableCell-sizeSmall {
  margin: 5px !important;
}

@font-face {
  font-family: Effra;
  src: url('./assets/Effra_Std_Bd.ttf');
  font-weight: lighter;
}

.left-side-drawer {
  flex: 0.4;
  min-width: 300px;
}

.makeStyles-appBarShift-3 {
  margin-left: 0px !important;
}

.jss3 {
  margin-left: 0px !important;
}

.jss8 {
  box-shadow: none !important;
}

.right-side-drawer {
  flex: 1;
}

.map-table-1 {
  background-color: rgba(45, 49, 58, 0.329);
  font-family: 'Open Sans', sans-serif;
}

.map-table-1:nth-child(even) {
  background-color: rgba(150, 150, 150, 0.329);

}

.map-table-1:nth-child(odd) {
  background-color: rgba(116, 116, 116, 0.329);

}

.map-table-3 {
  background-color: rgba(150, 150, 150, 0.089);
  font-family: 'Open Sans', sans-serif;
}

.btn-map {
  outline: none;
  border: none;
}

.btn-map:focus {
  outline: none;
  border: none;
}

.btn-map-cross {
  background-color: rgba(128, 128, 128, 0.596) !important;
}

.css-10dfkli-MuiTableCell-root {
  color: white !important;
}

.tags {
  transition: all .4s;
  min-width: 300px;
  margin: 0 !important;
}

.tags:nth-child(even) {
  background-color: rgba(116, 116, 116, 0.329) !important;
}

.tags:nth-child(odd) {
  background-color: rgba(150, 150, 150, 0.329) !important;
}

.tags:nth-child(odd):hover {
  background-color: rgba(116, 116, 116, 0.329) !important;
}

.tags:nth-child(even):hover {
  background-color: rgba(150, 150, 150, 0.329) !important;
}

.tag-detail {
  min-width: 50px;
  padding: 5;
  height: 25px;
  background-color: white;
  border-radius: 5px !important;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #151D20;
  outline: none;
  border: none;
}

.tag-detail:focus {
  outline: none;
}

@media(max-width:1400px) {
  html {
    font-size: 75%;
  }

  #root>div>div.App>div>div.makeStyles-root-12>header>div>div.MuiTabs-scroller.MuiTabs-scrollable>div {
    height: 40px !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


tr:nth-of-type(even) {
  background-color: rgba(45, 49, 58, 0.329) !important;
  border: none !important;
}

tr:nth-of-type(odd) {
  background-color: rgba(45, 49, 58, 0.629) !important;
  border: none !important;
}

tr:nth-of-type(even):hover {
  background-color: rgba(40, 44, 54, 0.589) !important;
  border: none !important;
}

tr:nth-of-type(odd):hover {
  background-color: rgba(45, 49, 58, 0.808) !important;
  border: none !important;
}

tr {
  transition: all .4s;
}

th {
  border: none !important
}

td {
  border: none !important;
  border-left: rgba(255, 255, 255, 0.555) !important;
  font-weight: normal!important;
}

th {
  background-color: rgba(45, 49, 58, 0.929) !important;
}

.MuiPaper-root {
  background-color: transparent !important;
  border-left: 1px solid gray !important;
}

.MuiTableCell-sizeSmall {
  border-left: 1px solid #ffffff40 !important;
}

.last-scan-select-2 {
  width: 300px !important;
}